<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Log in:</h3>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <mat-checkbox formControlName="rememberUser">Remember user</mat-checkbox>


    <div class="actions">
        <button mat-raised-button type="reset">Reset</button>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
</form>