<div class="group">
  <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="getBooks()">
    <h3>Filter the data</h3>
    <mat-form-field>
      <mat-label>Name of the book</mat-label>
      <input matInput formControlName="name">
      <mat-hint align="start">Search by name of the book, you need to type correctly the name like A Game of Thrones to
        find info about it</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>From released date</mat-label>
      <input matInput [matDatepicker]="fromReleaseDatePicker" formControlName="fromReleaseDate">
      <mat-hint align="start">Get list of book from released date</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="fromReleaseDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromReleaseDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To released date</mat-label>
      <input matInput [matDatepicker]="toReleaseDatePicker" formControlName="toReleaseDate">
      <mat-hint align="start">Get list of book before released date</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="toReleaseDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toReleaseDatePicker></mat-datepicker>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit">Filter</button>
    </div>
  </form>
</div>

<section class="display">
  <app-content-pagination [dataSource]="dataSource" [loading$]="dataSource.loading$"
    [displayedColumns]="displayedColumns" [configs]="configs" [pagination]="true" [dataLength]="12"
    [pageIndex]="pageIndex - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEventChange($event)">
  </app-content-pagination>
</section>