<div class="group">
  <span>
    This Angular app is an authentication and authorization system that allows
    users to log in and log out. It features role-based access control, meaning
    that certain areas of the app are only accessible to users with certain
    roles.
  </span>

  <span>
    One of the main features of this app is the ability to access the API for
    the "A Song of Ice and Fire" book series, commonly known as the "Game of
    Thrones" books. This API provides information about the characters,
    locations, and other elements of the book series.
  </span>

  <span>
    To implement access to the Ice and Fire API, the app uses the HttpClient
    module from Angular to make HTTP requests to the API endpoints. It also uses
    the RxJS library to manage the asynchronous data flow, ensuring that the app
    remains performant and responsive.
  </span>

  <span>
    The app features several views that display information about the characters
    and locations in the book series, including a list view and a detail view
    for each item. The user can navigate between these views using the app's
    navigation menu.
  </span>

  <span>
    With this app, users can explore the world of the "Game of Thrones" books
    and learn more about the characters and locations that make up this rich and
    complex universe.
  </span>

  <span>
    For more information, you can take a quick look at these API
    <a href="https://anapioficeandfire.com/">here</a>
  </span>
  <app-login></app-login>
</div>
