<div class="group">
  <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="getHouses()">
    <h3>Filter the data</h3>
    <mat-form-field>
      <mat-label>Name of the house</mat-label>
      <input matInput formControlName="name">
      <mat-hint align="start">Search by name of the house, you need to type correctly the name like House Allyrion of
        Godsgrace to
        find info about it</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Region of the house</mat-label>
      <input matInput formControlName="region">
      <mat-hint align="start">Search by region of the house, you need to type correctly the region like The Westerlands
        to
        find info about it</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Words of the house</mat-label>
      <input matInput formControlName="words">
      <mat-hint align="start">Search by words of the house, you need to type correctly the words like No Foe May Pass to
        find info about it</mat-hint>
    </mat-form-field>

    <section class="checkboxes">
      <mat-checkbox formControlName="hasWords" ngDefaultControl>Has words</mat-checkbox>
      <mat-checkbox formControlName="hasTitles" ngDefaultControl>Has titles</mat-checkbox>
      <mat-checkbox formControlName="hasSeats" ngDefaultControl>Has seats</mat-checkbox>
      <mat-checkbox formControlName="hasDiedOut" ngDefaultControl>Has died out</mat-checkbox>
      <mat-checkbox formControlName="hasAncestralWeapons" ngDefaultControl>Has ancestral weapons</mat-checkbox>
    </section>



    <div class="actions">
      <button mat-raised-button type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit">Filter</button>
    </div>
  </form>


</div>

<section class="display">
  <app-content-pagination [dataSource]="dataSource" [loading$]="dataSource.loading$"
    [displayedColumns]="displayedColumns" [configs]="configs" [pagination]="true" [dataLength]="50"
    [pageIndex]="pageIndex - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEventChange($event)">
  </app-content-pagination>
</section>