<div class="group">
  <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="getCharacters()">
    <h3>Filter the data</h3>
    <mat-form-field>
      <mat-label>Name of the character</mat-label>
      <input matInput formControlName="name">
      <mat-hint align="start">Search by name of the character, you need to type correctly the name like Catelyn Stark to
        find info about it</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select appearance="fill" formControlName="gender">
        <mat-option [value]="'Male'">
          Male
        </mat-option>
        <mat-option [value]="'Female'">
          Female
        </mat-option>
      </mat-select>
      <mat-hint align="start">Get list of character based on gender</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Culture of the character</mat-label>
      <input matInput formControlName="culture">
      <mat-hint align="start">Search by culture of the character, you need to type correctly the culture like Rivermen
        to
        find info about it</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Born of the character</mat-label>
      <input matInput formControlName="born">
      <mat-hint align="start">Search by born of the character, you need to type correctly the born information like 264
        AC to
        find info about it</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Died of the character</mat-label>
      <input matInput formControlName="died">
      <mat-hint align="start">Search by died of the character, you need to type correctly the died information like 264
        AC to
        find info about it</mat-hint>
    </mat-form-field>

    <section class="checkbox">
      <mat-checkbox formControlName="isAlive">Is alive</mat-checkbox>
    </section>

    <div class="actions">
      <button mat-raised-button type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit">Filter</button>
    </div>
  </form>
</div>

<section class="display">
  <app-content-pagination [dataSource]="dataSource" [loading$]="dataSource.loading$"
    [displayedColumns]="displayedColumns" [configs]="configs" [pagination]="true" [dataLength]="3000"
    [pageIndex]="pageIndex - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEventChange($event)">
  </app-content-pagination>
</section>