/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue",
        sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.group {
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .group {
        padding: 0 0.5rem;
    }
}

.spinner-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}